/* Font type 
font-family: 'Roboto', sans-serif;
font-family: 'Assistant', sans-serif;
*/

/* Common styles */

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #2f3239;
	box-shadow: inset -68px -125px 157px 22px rgba(10,10,12,1);
	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}











